@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");


    body {
      background: white;
      color: black;
      font-family: 'Cabin', Helvetica, Arial, sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

    .chatbar {
      background: #00BFFF;
      border-top: 1px solid black;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

    .chatbar-message,
    .chatbar-username,
    .chatbar-image {
      border: 1px solid black;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
      border-radius: 15px;
    }

    .chatbar-message {
      flex: 6;
      overflow-wrap: break-word;
    }

    .chatbar-username {
      flex: 2;
      overflow-wrap: break-word;
    }
    .chatbar-image {
      flex: 2;
    }

    .userCount {
      float: right;
    }

    .message {
      display: flex;
      padding: 5px;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }

    .message-content {
      flex: 8;
      font-size: 1.3em;
    }

    .message-username {
      margin-left: 50px;
      flex: 2;
      font-size: 1.3em;
      font-weight: 700;
    }

    .navbar {
      background: #00BFFF;
      border-bottom: 1px solid black;
      height: 60px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
    }

    .navbar-brand {
      font-family: 'Lobster', Georgia, Times, serif;
      color: inherit;
      font-weight: 700;
      font-size: 40px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
      width: 100%;
    }

    .title-container {
      text-align: center;
    }

    .nameChange {
      margin-left: 50px;
      font-style: italic;
    }

    .image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      padding: 20px 20px;
    }

    hr {
      border-bottom: 1px solid #00BFFF;
      width: 80%
    }